/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* header */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

header nav {
    text-align: right;
} 
    
    
header nav li {
    display: inline-block;
    margin: 25px 12px 0; 
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

header nav ul li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:lightgrey;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

/* header */

/* main */

.container .flag {
    height: 100vh;
    width: 100%;
    position: relative;
}



/* /main */

/* position */
.container .flag .cheese {
    position: absolute;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}    
.container .flag .cheese img{
    width: 100%;

}
/* position */

/* colors */
#red_cheese {
    background-color: red;
    color:yellow ;
}

#green_cheese {
    background-color: green;
    color: yellow;
}

#yellow_cheese {
    background-color: yellow;
    color: green;
}
/* colors */
